<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="sidebar-nav-fixed affix">
                <table class="col-md-3 table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                Top Searches
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="topic in getResult()">
                            <td ng-click="setSelected(topic) " class="active">{{topic.title}}</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr ng-repeat="item in getTopRelated()">
                            <td ng-click="setAutoSearchSite(item.name) " class="active"> {{item.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
